<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--34584 - 34588-->
    <add key="ConfiguredPorts" value="34584,34585,34586,34587,34588"/>
  </appSettings>
</configuration>